<div id="<%= dom_id(comment) %>" class="p-4 bg-gray-100 rounded shadow mb-3">
  <p class="text-gray-800"><%= comment.content %></p>
  <p class="text-sm text-gray-500 mt-1">
    <%= time_tag comment.updated_at, nil, data: { local: "time-ago" } %>
  </p>
</div>